---
title: Save The Internet
---
<section class="home__intro">
  <div class="home__intro__container">
    <div class="home__intro__container__content">
      <header class="home__intro__container__content__header">
        <div class="home__intro__container__content__header__logo"></div>
      </header>
    </div>
  </div>
</section>
<section class="home__tagline">
  <div class="home__tagline__container">
    <div class="home__tagline__container__content">
      <div class="home__tagline__container__content__tagline">
        <h4>Join us and take action - make your voice heard!</h4>
      </div>
    </div>
  </div>
</section>
<section class="home__counter">
  <div class="home__counter__container">
    <div class="home__counter__container__content">
      <div class="home__counter__container__content__counter">
        <div class="counter">
          <h2>16384</h2>
          <p>people have sent a message</p>
          <h2>120</h2>
          <p>days left</p>
          <h1>ACT NOW</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home__info typeset">
  <div class="home__info__container">
    <div class="home__info__container__content">
      <header class="home__info__container__content__berec-decision-1">
        <h2>In 2015, the European Union adopted legislation on net neutrality …</h2>
        <p>The EU Regulation contains good principles to ensure that you can connect to any other point on the net without discrimination. However, some parts of the regulation could be abused to undermine net neutrality. The legislators decided to leave the responsibility for claryifing the uncertainties of the text to the telecoms regulators.</p>
      </header>
      <section class="home__info__container__content__berec-decision-2">
        <h2>The Body of European Regulators of Electronic Communications (BEREC) has to prepare implementation guidelines to interpret the ambiguities of the law by the end of August 2016. These guidelines will determine whether Europe will enjoy net neutrality or not.</h2>
      </section>
      <section class="home__info__container__content__berec-decision-3">
        <p>In June 2016, BEREC plans to publish its draft guidelines and launch a public consultation. However, BEREC's procedural rules say that the public only has twenty working days to respond and the Regulation says that BEREC needs to publish its final guidelines on 30 August 2016. That means that citizens will only have one month to respond to the consultation and BEREC will only have a few weeks to process the (potentially thousands of) comments, draft updates to its guidelines and then go through the administrative processes to formally agree to any changes that it makes to the draft.</p>
      </section>
      <section class="home__info__container__content__net-neutrality-roadmap">
      </section>
      <section class="home__info__container__content__berec-decision-5">
        <h3>This is a crucial moment: This is the step where big successes were achieved in the United States and India. Therefore, we have to continue pushing for real net neutrality by convincing the regulators about the value of a free and open Internet.</h3>
        <p>Regulators need to equip themselves with the tools to enforce net neutrality. In Save The Internet, we think BEREC will not have enough time to process and duly take into account potentially tens of thousands of responses (the US telecoms regulator received 3.7 million responses to its consultation!). We can redress the balance by enabling everybody to properly contribute to the guidelines in a more efficient way. Recently, BEREC organised face-to-face meetings with stakeholder groups. We have translated the questions that BEREC asked stakeholders (see here and here) in those meetings into plain English and added few others when we felt this was necessary.</p>
        <h2>BEREC needs your input before they decide on the future of net neutrality in Europe.</h2>
      </section>
    </div>
  </div>
</section>
<section class="home__videos">
  <div class="home__videos__container">
    <div class="home__videos__container__content">
      <section class="home__videos__container__content__videos">
        <h1>[[VIDEOS]]</h1>
      </section>
    </div>
  </div>
</section>
<section class="home__fix-net-neutrality">
  <div class="home__fix-net-neutrality__container">
    <div class="home__fix-net-neutrality__container__content">
      <header class="home__fix-net-neutrality__container__content__header">
        <h1>What needs to be fixed</h1>
      </header>
      <section class="home__fix-net-neutrality__container__content__specialised-services">
        <h2>Specialised Services</h2>
        <p>Specialised Services risk becoming the paid fast-lane for big Internet companies that push every other website, idea and start-up into the slowlane.</p>
        <a href="#">read more in FAQ</a>
      </section>
      <section class="home__fix-net-neutrality__container__content__traffic-management">
        <h2>Traffic Management</h2>
        <p>Don't let your Internet provider decide what traffic is important and which online services it slows down, at its own discretion.</p>
        <a href="#">read more in FAQ</a>
      </section>
      <section class="home__fix-net-neutrality__container__content__zero-rating">
        <h2>Zero Rating</h2>
        <p>It sounds like you get something for free, but it makes your mobile operator become a gatekeeper and gives it a reason for lower monthly data caps.</p>
        <a href="#">read more in FAQ</a>
      </section>
    </div>
  </div>
</section>
<section class="home__questions">
  <div class="home__questions__container">
    <div class="home__questions__container__content">
      <header class="home__questions__container__content__header">
        <h2>Tell your national regulators and BEREC to protect net neutrality</h2>
        <p>Tell your regulators your opinion on the new net neutrality rules by using the questionnaire tool below. By answering the multiple choice and open questions an email will be generated for you. Your email will be submitted by us to the EU Telecom Regulators (BEREC) when the official consultation starts in June 2016.</p>
      </header>
      <section class="home__questions__container__content__body">
        <!-- <iframe class="home__questions__container__content__body__form" src="http://savetheinternet.azurewebsites.net/en/" scrolling="no"></iframe> -->
        <iframe class="home__questions__container__content__body__form" src="questions/step-1" scrolling="no"></iframe>
      </section>
    </div>
  </div>
</section>
<section class="home__spread-the-word">
  <div class="home__spread-the-word__container">
    <div class="home__spread-the-word__container__content">
      <section class="home__spread-the-word__container__content__social">
        <h2>Spread the word!</h2>
        <ul class="home__spread-the-word__container__content__social__icons">
        </ul>
        <h2>Stay informed!</h2>
        <form>
        <div class="form-group">
          <label for="newsletter-email">Your email</label>
          <input type="email" class="form-control" id="newsletter-email" placeholder="Email">
        </div>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="newsletter-country" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             Country
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="newsletter-country">
            <li>austria</li>
          </ul>
        </div>
      </section>
      <section class="home__spread-the-word__container__content__sponsors">
      </section>
    </div>
  </div>
</section>
