<%
  step_numbers = Array.new(4).map.with_index { |href, index| step_number == index + 1 ? "#" : "step-#{ index + 1 }" }
%>
<div class="top-container-fixed">
  <header class="questions-form__header">
    <div class="questions-form__header__locality">
      <div class="questions-form__header__locality__country">
        <label for="questions-form__header__locality__country__select">Choose country:</label>
        <select title="––––––" class="selectpicker" id="questions-form__header__locality__country__select" name="questions-form__header__locality__country__select">
          <option data-content="<i class='flag flag-retina flag-at'></i><span class='flag-label'>Austria</span>" value="AT">Austria</option>
          <option data-content="<i class='flag flag-retina flag-de'></i><span class='flag-label'>Germany</span>" value="DE">Germany</option>
        </select>
      </div>
      <div class="questions-form__header__locality__language">
        <label for="questions-form__header__locality__language__select">Choose language:</label>
        <select title="––––––" class="selectpicker" id="questions-form__header__locality__language__select" name="questions-form__header__locality__language__select">
          <option value="EN">English</option>
          <option value="DE">German</option>
        </select>
      </div>
    </div>
    <nav class="questions-form__header__navigation">
      <ul class="questions-form__header__navigation__steps">
        <li class="questions-form__header__navigation__step">
          <button type="button" id="questions-form__header__navigation__step-1" class="btn questions-form__header__navigation__step__content" href="<%= step_numbers[0] %>">
            <div class="step-number">
              <span class="encircled"><span class="number">1</span></span>
            </div>
            <div class="step-label">
              <i class="fa fa-check-square"></i>
              <h3>Multiple Choice</h3>
            </div>
          </button>
        </li>
        <li class="questions-form__header__navigation__step">
          <button type="button" id="questions-form__header__navigation__step-2" class="btn questions-form__header__navigation__step__content" href="<%= step_numbers[1] %>">
            <div class="step-number">
              <span class="encircled"><span class="number">2</span></span>
            </div>
            <div class="step-label">
              <i class="fa fa-pencil-square-o"></i>
              <h3>Open Questions #1</h3>
            </div>
          </a>
        </li>
        <li class="questions-form__header__navigation__step">
          <button type="button" id="questions-form__header__navigation__step-3" class="btn questions-form__header__navigation__step__content" href="<%= step_numbers[2] %>">
            <div class="step-number">
              <span class="encircled"><span class="number">3</span></span>
            </div>
            <div class="step-label">
              <i class="fa fa-pencil-square-o"></i>
              <h3>Open Questions #2</h3>
            </div>
          </a>
        </li>
        <li class="questions-form__header__navigation__step">
          <button type="button" id="questions-form__header__navigation__step-4" class="btn questions-form__header__navigation__step__content" href="<%= step_numbers[3] %>">
            <div class="step-number">
              <span class="encircled"><span class="number">4</span></span>
            </div>
            <div class="step-label">
              <i class="fa fa-envelope"></i>
              <h3>Send</h3>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
