---
title: Save The Internet - Questionnaire
---

<form action="/questions/step-4" method="POST" class="questions-form">
  <%= partial "questions-header", locals: { step_number: 4 } %>
  <div class="bottom-container">
    <section class="questions-form__body">
      <div class="questions-form__body__content">
        <header class="questions-form__body__content__header">
          <h1>Now send this email to your regulator</h1>
        </header>
        <section class="questions-form__body__content__body">
          <fieldset class="form-group">
            <label for="response">Your E-Mail:</label>
            <textarea class="form-control" id="response" data-response-count="6" rows="15">
Dear Sir or Madam,

Regarding the ongoing BEREC guideline creation for the implementation of the telecom single market regulation I would like you to take this opinion into account.

The diversity and innovative capacity of the Internet ecosystem is built upon low cost of innovation and low barriers to market entry. These principles ensure that from day one, every enterprise, startup or non-commercial service -- no matter how small or well funded -- has the potential to reach a global audience in a manner equal to their competitors. This driving force for the prosperity and diversity of the online economy is only ensured by an open, neutral and non-discriminatory Internet. When ISPs are allowed to interfere with the decisions of their customers by economic or technical discrimination, this essential freedom is lost. According to Recital 1 the Regulation has to be interpreted in light of these goals.

The TSM Regulation allows specialised services only under strict safeguards. Article 3(5) and Recital 16 require the optimisation of specialised services to be objectively necessary for the functionality of key features of the service. This cannot be the case with services that can also function on the open, best effort Internet. Further Recital 16 prevents specialised services from being used as circumvention of the general net neutrality traffic management rules. Any deviation from these safeguards to widen the applicability of the concept of specialised services would inevitably result in increased market entry barriers and thus weaken the innovative potential of the Internet as a whole.

When ISPs are allowed to charge for preferential treatment, they have an incentive to stop investing in network capacity for the "normal" Internet and reduce their data caps so that customers increasingly use specialised services. This effect will be detrimental for low-cost speakers, startups which cannot afford special access to all networks in which they may want to reach customers, and the development of the free, open and innovative Internet ecosystem.

Economic discrimination (zero-rating) interferes with my right under Article 3(1) to access and distribute information freely. When an ISP discriminates between providers of content, applications and services via an Internet access service by making them unequally accessible, this constitues an arbitrary interference in the essence of my right. Furthermore, this practice restricts my rights under the Charta of Fundamental Rights (Articles 11, 15(2), and 16). Therefore economic discrimination should not be allowed under the BEREC guidelines.

The Regulation has very clear rules on what constitutes reasonable traffic managment. According to Article 3(3), all traffic managment should be done in an application agnostic way if possible. Class-based traffic managment harms competition, risks unintended damage to specific applications, can discriminate against encpryted traffic, creates uncertainty for content application and service providers, stifles innovation, can harm individual users. and can create regulatory overload. Therefore applying class-based traffic managment in situations where application agnostic traffic managment would suffice is neither neccessary nor proportionate, nor transparent for the user, nor non-discriminatory.

It is very important to stress that transparency cannot, as proposed by the Commission in its initial draft of the Regulation and subsequently rejected, be considered an antidote to anti-competitive behaviour in itself. Transparency has limited scope in fixing problems, particularly in this context.

Best Regard,
A concerned citizen
            </textarea>
          </fieldset>
        </section>
        <section class="questions-form__body__content__actions">
          <button class="action-button-back" type="submit" name="action" value="3"><i class="fa fa-chevron-left"></i> Back</button>
        </section>
        <section class="questions-form__body__content__actions">
          <p data-hidden-when-empty-response="#response">
            Step 1: Copy the above text by Right-click -> Copy (or Ctrl+C) or
            <a href="#" class="btn btn-primary" id="copy-button" data-clipboard-target="#response" data-copied-text="Text copied!" role="button">click here</a>
          </p>
          <p>
            Step 2:
            Compose an email <a href="mailto:oskar.grande@gmail.com?bcc=oskar@daruma.io" class="action-button">from your device</a>
            <br>
            or via
            <button class="action-button">gmail</button> <button class="action-button">yahoo</button> <button class="action-button">hotmail</button>
          </p>
          <p>
            Step 3: Paste the text by Right-click -> Paste (Ctrl+V) in the body and send
          </p>
        </section>
      </div>
    </section>
  </div>
</form>
