---
title: Save The Internet - Questionnaire
---

<form action="/questions" method="POST" class="questions-form">
  <%= partial "questions-header", locals: { step_number: 2 } %>
  <div class="bottom-container">
    <section class="questions-form__body">
      <div class="questions-form__body__content">
        <header class="questions-form__body__content__header">
          <h1>Express your opinion by answering the questions below. Further explanation to assist you with composing can be
found by clicking the drop down icon.</h1>
        </header>
        <section class="questions-form__body__content__body">
          <fieldset class="form-group">
            <label for="q10">What could be the positive and negative impacts of specialised services on future innovation and openness of the Internet?</label>
            <div class="text-muted">
              <p>While the delivery of specialised services is allowed under the Regulation, they cannot be offered as a replacement for Internet access services. Otherwise, ISPs would be conducting price discrimination practices. In its <a href="http://berec.europa.eu/files/news/bor_12_32_guidelines.pdf" target="_blank">2012 guidelines</a>, BEREC stated that price discrimination practices offering access to a limited part of the Internet would have a negative effect on consumers' rights.</p>
            </div>
            <textarea class="form-control" id="q10" name="q10" rows="3"></textarea>
          </fieldset>
        </section>
        <section class="questions-form__body__content__actions">
          <button class="action-button" type="submit" name="action" value="next">Next <i class="fa fa-chevron-right"></i></button>
        </section>
      </div>
    </section>
  </div>
</form>
