---
title: Save The Internet - Questionnaire
---

<form action="/questions" method="POST" class="questions-form">
  <%= partial "questions-header", locals: { step_number: 2 } %>
  <div class="bottom-container">
    <section class="questions-form__body">
      <div class="questions-form__body__content">
        <header class="questions-form__body__content__header">
          <h1>STEP 2</h1>
        </header>
        <section class="questions-form__body__content__section">
        </section>
      </div>
    </section>
  </div>
</form>
