    <script src="/javascripts/vendor/jquery.min.js"></script>
    <script src="/javascripts/vendor/iframeResizer.contentWindow.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/bootstrap-select.min.js"></script>
    <script src="/javascripts/vendor/jquery.fittext.js"></script>
    <script src="/javascripts/vendor/fastclick.min.js"></script>
    <script src="/javascripts/shared.js"></script>
    <script src="/javascripts/questions.js"></script>
  </body>
</html>
