@charset "utf-8";
@import "modules/normalize";
@import "vendor/bootstrap";
// @import "vendor/bootstrap/variables";
// @import "vendor/bootstrap/mixins";
// @import "vendor/bootstrap/forms";
// @import "vendor/bootstrap/buttons";
@import "compass";
@import "susy";
@import "photoshop-gradient-overlay";
@import "vendor/sassline-base";

$susy: (
  columns: 24,
  container: 1024px,
  global-box-sizing: border-box
);

// debug: (image: show)

$sti-blue:           #92c2ed;
$sti-blue-dark:      #004E84;
$sti-blue-light:     #0076CE;
$sti-black-dark:     #010101;
$sti-black-light:    #303030;
$sti-blue-sky-dark:  #43AFDC;
$sti-blue-sky-light: #89D3F6;
$sti-gray-dark:      #A1A6A8;
$sti-gray-light:     #C2C6C8;
$sti-gray-lighter:   #D8DADB;
$sti-gray-lightest:  #F0F2F4;
$sti-orange:         #fd6f1d;
$sti-white:          #ffffff;

@mixin cf {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin center($axis: "both") {
  position: absolute;

  @if $axis == "y"{
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin sti-gradient-background($color-from, $color-to) {
  @include background-image(photoshop-gradient-overlay($color-from, normal, 100%, 90deg, 100%, ($color-from 0%, $color-to 100%)));
}

h1 {
  @include sassline($fontsize: 50, $font: $headingtype, $lineheight: 1, $below: 1, $breakpoint: all);
  font-weight: bold;
}

h2 {
  @include sassline($fontsize: 50, $font: $headingtype, $lineheight: 1, $below: 1, $breakpoint: all);
  font-weight: 700;
  padding-top: 30px;
}

h3 {
  @include sassline($fontsize: 25, $font: $headingtype, $lineheight: 3, $below: 1, $breakpoint: all);
  font-weight: bold;
}

h4 {
  @include sassline($fontsize: 13, $font: $headingtype, $lineheight: 3, $below: 1, $breakpoint: all);
  font-weight: light;
  font-style: italic;
}

p {
  @include sassline($fontsize: 20, $font: $bodytype, $lineheight: 3, $below: 1, $breakpoint: all);
  padding-bottom: 30px;
  padding-topb: 30px;
}

@mixin content {
  width: span(24 last);
  @include breakpoint(break-2) {
    width: span(18 last);
  }
  margin-left:  auto;
  margin-right: auto;
}

@mixin content-inside {
  @include span(24);
  padding-left: 1.5em;
  padding-right: 1.5em;
}
