@charset "utf-8";
@import "normalize";
@import "compass";
@import "susy";
@import "photoshop-gradient-overlay";

$susy: (
  columns: 12,
  container: 1140px,
  debug: (image: show), global-box-sizing: border-box
);

$sti-blue:           #92c2ed;
$sti-blue-dark:      #004E84;
$sti-blue-light:     #0076CE;
$sti-black-dark:     #010101;
$sti-black-light:    #303030;
$sti-blue-sky-dark:  #43AFDC;
$sti-blue-sky-light: #89D3F6;
$sti-gray-dark:      #A1A6A8;
$sti-gray-light:     #C2C6C8;
$sti-orange:         #fd6f1d;
$sti-white:          #ffffff;

@mixin cf {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin sti-gradient-background($color-from, $color-to) {
  @include background-image(photoshop-gradient-overlay($color-from, normal, 100%, 90deg, 100%, ($color-from 0%, $color-to 100%)));
}

body {
  background-color: $sti-orange;
  font-family: 'Montserrat', sans-serif;
}

.container {
  @include container();
}

@import "modules/questions";
