<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "" %></title>

    <link href='//fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

    <!-- MDN PolyFils for IE8 (This is not normally needed if you use the jQuery version) -->
		<!--[if lte IE 8]>
			<script type="text/javascript" src="/javascripts/vendor/ie8.polyfils.min.js"></script>
		<![endif]-->

    <link href="/stylesheets/vendor/hint.min.css" rel="stylesheet" />
    <link href="/stylesheets/questions.css" rel="stylesheet" />
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <script src="javascripts/vendor/iframeResizer.min.js"></script>
    <script src="javascripts/vendor/fastclick.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascripts/vendor/jquery.fittext.js"></script>
    <script src="javascripts/vendor/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="javascripts/shared.js"></script>
    <script src="javascripts/questions.js"></script>
  </body>
</html>
