<section class="home__spread-the-word">
  <div class="home__spread-the-word__container">
    <div class="home__spread-the-word__container__content">
      <section class="home__spread-the-word__container__content__social">
        <h2>Spread the word!</h2>
        <ul class="home__spread-the-word__container__content__social__icons">
          <li>
            <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Burl%5D=http://www.savetheinternet.eu/&amp;p%5Bimages%5D%5B0%5D=http://www.savetheinternet.eu/img/thumbnail.png&amp;p%5Btitle%5D=Hilf%20mit%2C%20das%20Internet%20zu%20retten&amp;p%5Bsummary%5D=Deine%20Freiheit%20online%20wird%20durch%20Vorschl%C3%A4ge%20der%20EU%20bedroht.%20Der%20Kampf%20um%20ein%20offenes%20Internet%20findet%20gerade%20jetzt%20in%20Br%C3%BCssel%20statt.">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/intent/tweet?text=Hilf%20mit%2C%20das%20Internet%20zu%20retten.%20Fordere%20Regulierungsbeh%C3%B6rden%20auf%2C%20Netzneutralit%C3%A4t%20zu%20erhalten.%20http%3A%2F%2Fwww.savetheinternet.eu%2F%20%23SaveTheInternet">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url=http://www.savetheinternet.eu/">
              <i class="fa fa-google-plus fa-2x"></i>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
