<section class="home__counter">
  <div class="home__counter__container">
    <div class="home__counter__container__content">
      <div class="home__counter__container__content__counter">
        <a class="btn counter-button" role="button" href="#send-a-message">
          <span class="counter-message"></span>
          <span class="counter-message-description">Menschen haben<br>eine Nachricht<br>gesendet</span>
          <span class="counter-days-left"></span>
          <span class="counter-days-left-description">Tage hast du<br/>noch Zeit</span>
        </a>
      </div>
    </div>
  </div>
</section>
