<section class="home__spread-the-word">
  <div class="home__spread-the-word__container">
    <div class="home__spread-the-word__container__content">
      <section class="home__spread-the-word__container__content__social">
        <h2>Spread the word!</h2>
        <ul class="home__spread-the-word__container__content__social__icons">
          <li>
            <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Burl%5D=http://www.savetheinternet.eu/&amp;p%5Bimages%5D%5B0%5D=http://www.savetheinternet.eu/img/thumbnail.png&amp;p%5Btitle%5D=Help%20Save%20the%20Internet&amp;p%5Bsummary%5D=Your%20freedom%20online%20is%20threatened%20by%20EU%20proposals.%20The%20fight%20for%20an%20open%20Internet%20is%20happening%20right%20now%20in%20Brussels.">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/home?status=Help%20save%20the%20internet.%20Tell%20your%20politician%20to%20safeguard%20net%20neutrality.%20http://www.savetheinternet.eu/%20%23ConnectedContinent%20#SaveTheInternetEU">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url=http://www.savetheinternet.eu/">
              <i class="fa fa-google-plus fa-2x"></i>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
