<section class="home__stay-informed">
  <div class="home__stay-informed__container">
    <div class="home__stay-informed__container__content">
      <section class="home__stay-informed__container__content__newsletter">
        <h2>Bleibe informiert!</h2>
        <div class="form-inline">
          <form action="https://mailman.edri.org/mailman/subscribe/savetheinternet/" method="post">
            <div class="form-group">
              <input name="email" type="email" class="form-control" id="newsletter-email" placeholder="Your Email">
            </div>
            <div class="form-group">
              <input name="email-button" value="ABONNIEREN" type="Submit" id="newsletter-submit" class="btn btn-default btn-lg">
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</section>
