{{ $language := .Site.Params.language }}

<section class="home__fix-net-neutrality">
  <div class="home__fix-net-neutrality__container">
    <div class="home__fix-net-neutrality__container__content">
      <header class="home__fix-net-neutrality__container__content__header">
        <h1>Was muss verbessert werden?</h1>
      </header>
      <section class="home__fix-net-neutrality__container__content__specialised-services">
        <img src="/images/specialised_services.svg" />
        <h2>Spezialdienste</h2>
        <p>Spezialdienste bergen das Risiko, bezahlte Überholspuren für große Internet-Konzerne zu werden, und alle anderen Webseiten, Ideen und Start-Ups in die Kriechspur abdrängen.
          <br>
          <a href="/{{ $language }}/faq/#specialised-services" target="_blank">In den FAQs weiterlesen</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__traffic-management">
        <img src="/images/traffic_management.svg" />
        <h2>Traffic-Management</h2>
        <p>Überlasse deinen Internetanbieter nicht die Entscheidung, welcher Datenstrom wichtig ist, und welche Onlinedienste er eigenmächtig runterdrosselt.
          <br>
          <a href="/{{ $language }}/faq/#traffic-management" target="_blank">In den FAQs weiterlesen</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__zero-rating">
        <img src="/images/zero_rating.svg" />
        <h2>Zero-Rating</h2>
        <p>Es mag klingen, als ob Du etwas gratis bekommst, aber es macht deinen Mobilfunkanbieter zum Türsteher. Außerdem hat er mit Zero-Rating einen Grund, Dein monatliches Datenvolumen zu senken.
          <br>
          <a href="/{{ $language }}/faq/#zero-rating" target="_blank">In den FAQs weiterlesen</a>
        </p>
      </section>
    </div>
  </div>
</section>
