<section class="home__contact">
  <div class="home__contact__container">
    <div class="home__contact__container__content">
      <header class="home__contact__container__contact">
        <h2>Kontakt</h2>
        <h3>
      	  Schreib uns gerne an <span class="bold"> <a href="mailto:info@savetheinternet.eu">info@savetheinternet.eu</a></span>
      	</h3>
      	<p>
      	  Du hast eine Verbesserungsidee für diese Website? Sehr gut &ndash; wir brauchen Dich! Der gesamte Quelltext dieser Website ist <a href="https://github.com/Netzfreiheit/STI-UI">auf GitHub verfügbar</a> und kann geforkt, verbessert und zurück an uns gepusht werden.
      	</p>
      	<p>
      	  Was wir immer gebrauchen können, ist Hilfe mit den Übersetzungen. Wenn du also eine Sprache sprichst, die wir hier noch nicht anbieten, bitte schreib uns.
      	</p>
      </header>
      <section class="home__contact__container__privacy">
        <h5>Datenschutzrichtlinie</h5>
      	<p>
          We speichern Deine Kommentare für die BEREC-Konsultation im Posteingang eines in Österreich gehosteten E-Mail-Kontos, bis wir diese E-Mails mit Euren Kommentaren an die offizielle BEREC-Konsultation weiterleiten. BERECs Datenschutzrichtlinie findest du <a href="http://berec.europa.eu/eng/document_register/subject_matter/berec_office/download/0/4615-privacy-statement-berec-office-policy-do_0.pdf">hier</a>. BEREC wird alle Kommentare veröffentlichen, die nicht als vertraulich markiert sind. The Organisationen hinter dieser Kampagne analysieren möglicherweise ebenfalls die Kommentare, die durch diese Website an BEREC gesendet werden und nicht als vertraulich markiert sind. Einen Monat nach der offiziellen Konsultation werden wir alle Kommentare löschen.
      	</p>
        <p>
      	  Wir sammeln auf dieser Website nicht-personalisierte Information mit der Privatsphäre-freundlichen Web-Analytik-Software <a href="https://piwik.org/">Piwik</a>.
      	</p>
        <p>
      	  Wenn du den Newsletter abonnierst, speichern wir Deine E-Mail-Adresse in einer Mailingliste und einer Datenbank.
      	</p>
      </section>
    </div>
  </div>
</section>
