<section class="home__info">
  <div class="home__info__container">
    <div class="home__info__container__content">
      <header class="home__info__container__content__berec-decision-1">
        <h2>Die Europäische Union hat 2015 einer Verordnung zur Netzneutralität zugestimmt …</h2>
        <p><a href="http://eur-lex.europa.eu/legal-content/DE/TXT/?uri=CELEX:32015R2120">Die EU-Verordnung</a> enthält gute Grundprinzipien, die absichern, dass man sich mit jedem anderen Ort im Internet verbinden kann, ohne dabei benachteiligt zu werden. Leider können einige Teile der Verordnung missbraucht werden, um die Netzneutralität zu untergraben. Die Gesetzgeber haben beschlossen, die Klarstellung der offenen Fragen im Text den Telekommunikationsregulatoren zu überlassen.</p>
      </header>
      <section class="home__info__container__content__berec-decision-2">
        <h2>Das Gremium Europäischer Regulierungsstellen für elektronische Kommunikation (BEREC) muss bis Ende August 2016 Umsetzungsrichtlinien bereitstellen, um die Unklarheiten in der Verordnung zu interpretieren. Diese Richtlinien werden für das weitere Bestehen der Netzneutralität in Europa maßgebend sein.</h2>
      </section>
      <section class="home__info__container__content__berec-decision-3">
        <p>Im Juni 2016 will BEREC seine Entwürfe veröffentlichen und eine öffentliche Konsultation durchführen. Die Verfahrensregeln von BEREC bewirken jedoch, dass die Öffentlichkeit nur <strong>vom 6. Juni bis zum 18. Juli</strong> Antworten einreichen kann. Die EU-Verordnung schreibt vor, dass BEREC seine endgültigen Richtlinien am 30. August 2016 veröffentlichen muss. Für uns Bürgerinnen und Bürger bleiben also <strong>nur einige Wochen</strong>, um auf die Konsultation zu reagieren. BEREC wird dann <strong>nur etwas mehr als einen Monat</strong> Zeit haben, um die Kommentare (potentiell tausende) zu bearbeiten, ihre Entwürfe anzupassen und dann die administrativen Schritte für eine formelle Zustimmung zu eventuellen Änderungen durchzuführen.</p>
      </section>
      <section class="home__info__container__content__net-neutrality-roadmap">
        <h2>EU-Netzneutralitätsfahrplan</h2>
      </section>
      <section class="home__info__container__content__berec-decision-5">
        <h3>Dies ist ein entscheidender Moment: Bei diesem Schritt konnten in den Vereinigten Staaten und in Indien großartige Erfolge erzielt werden. Deshalb müssen wir weiter Druck für eine echte Netzneutralität ausüben, indem wir unsere Regulatoren von dem hohen Wert eines freien und offenen Internets überzeugen.</h3>
        <p>Die Regulatoren brauchen geeignete Werkzeuge, um Netzneutralität forcieren zu können. Wir von Save The Internet glauben, dass BEREC nicht ausreichend Zeit haben wird, um potentiell zehntausende Reaktionen zu bearbeiten und ausreichend zu berücksichtigen (die US-Regulierungsbehörde für Telekommunikation erhielt 3,7 Millionen Antworten auf ihre Konsultation!). Wir bieten ein Verfahren an, mit dem alle Menschen auf leichte Weise einen sinnvollen Beitrag zu den Richtlinien leisten können. So können wir das Gleichgewicht wieder herstellen.</p>
        <p>Vor kurzem hat BEREC persönliche Treffen mit Interessensvertretungen organisiert. Wir haben die von BEREC an die Interessensvertreter gestellten Fragen ins Englische übersetzt (<a href="https://edri.org/edris-first-input-on-net-neutrality-guidelines/">hier</a> und <a href="https://www.accessnow.org/rekindling-net-neutrality-our-meeting-with-eus-telecoms-regulators/">hier</a>) und eine kleine Anzahl Fragen hinzugefügt, wo uns dies notwendig erschien.</p>
        <h2>BEREC <a href="#send-a-message">braucht eure Eingaben</a>, bevor sie über die Zukunft der Netzneutralität in Europa entscheiden.</h2>
      </section>
    </div>
  </div>
</section>
