<section class="home__info">
  <div class="home__info__container">
    <div class="home__info__container__content">
      <header class="home__info__container__content__berec-decision-1">
        <h2>Die Europäische Union hat 2015 einer Verordnung zur Netzneutralität zugestimmt …</h2>
        <p><a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32015R2120">Die EU Verordnung</a> beinhaltet gute Richtlinien welche absichern dass du dich zu jedem anderen Punkt im Internet verbinden kannst ohne dabei benachteiligt zu werden. Leider können einige Teile der Verordnung missbraucht werden die Netzneutralität zu unterminieren. Die Gesetzgeber haben beschlossen die Verantwortung über die offenen Fragen der Verordnung den Telekommunikationsregulatoren zu überlassen.</p>
      </header>
      <section class="home__info__container__content__berec-decision-2">
        <h2>Das Gremium Europäischer Regulierungsstellen für elektronische Kommunikation (BEREC) muss bis Ende August 2016 die Unklarheiten der Verordnung interpretieren um die Richtlinien für die Implementierung festlegen zu können. Diese Richtlinien werden für das weitere Bestehen der Netzneutralität in Europa maßgebend sein.</h2>
      </section>
      <section class="home__info__container__content__berec-decision-3">
        <p>Die von BEREC erarbeiteten Entwürfe sollen im Juni 2016 zur öffentlichen Konsultation freigegeben werden. Die Verfahrensvorschrift von BEREC besagt jedoch dass die Öffentlichkeit lediglich <strong>vom 6. Juni bis zum 18. Juli</strong> Zeit hat zu reagieren denn die EU Verordnung schreibt vor dass BEREC seine endgültigen Richtlinien am 30. August 2016 veröffentlicht. Für uns Bürger bleiben somit <strong>lediglich einige Wochen</strong> um auf die Konsultation zu reagieren. BEREC wird dann trotzdem <strong>nur etwas mehr als einen Monat Zeit</strong> haben (potentiell tausende) Kommentare sowie weitere Entwürfe der Richtlinie zu bearbeiten und abschließend auch über diese formell abzustimmen.</p>
      </section>
      <section class="home__info__container__content__net-neutrality-roadmap">
        <h2>EU Netzneutralitätsfahrplan</h2>
      </section>
      <section class="home__info__container__content__berec-decision-5">
        <h3>Dies ist ein entscheidender Moment: An diesem Punkt wurden in den Vereinigten Staaten und in Indien großartige Erfolge gefeiert. Auch in Europa haben wir die Pflicht auf echte Netzneutralität zu bestehen indem wir unsere Regulatoren vom hohen Wert eines weiterhin freien und offenen Internets überzeugen.</h3>
        <p>Die Regulatoren müssen sich das Werkzeug verschaffen um Netzneutralität auch forcieren zu können. Save The Internet denkt dass BEREC nicht ausreichend Zeit haben wird um potentiell zehntausende Reaktionen zu bearbeiten und ordnungsgemäß zu berücksichtigen (die US Telekommunikationsregulatoren bekamen 3,7 Millionen individuelle Reaktionen auf ihre Konsultation!). Indem wir allen einen effizienten und ordnungsgemäßen Beitrag zu den Richtlinien ermöglichen, können wir das Gleichgewicht wieder herstellen.</p>
        <p>Vor kurzem hat BEREC persönliche Versammlungen mit Interessensvertretungen organisiert und wir haben deren Fragen ins Englische bzw. wenn sinnvoll auch in andere Sprachen übersetzt (<a href="https://edri.org/edris-first-input-on-net-neutrality-guidelines/">hier</a> und <a href="https://www.accessnow.org/rekindling-net-neutrality-our-meeting-with-eus-telecoms-regulators/">hier</a>).</p>
        <h2>BEREC <a href="#send-a-message">braucht eure Vorschläge</a> bevor sie über die Zukunft der Netzneutralität in Europa entscheiden.</h2>
      </section>
    </div>
  </div>
</section>
