{{ $iframeURL := "https://consultation.savetheinternet.eu/en/" }}

{{ if eq .Site.Params.language "de" }}
  {{ $iframeURL := "https://consultation.savetheinternet.eu/de/" }}
{{ end }}

<section class="home__questions">
  <div class="home__questions__container">
    <div class="home__questions__container__content">
      <header class="home__questions__container__content__header">
        <h1>Fordere deine nationalen Regulierungsbehörden und BEREC auf, Netzneutralität zu schützen</h1>
        <p>Sag deinen Regulierungsbehörden die Meinung über die neuen Regeln zur Netzneutralität! Verwende dafür das Fragebogen-Tool unten. Wenn du beliebig viele Auswahlfragen oder offene Fragen beantwortest, wird eine E-Mail für dich erzeugt. Diese E-Mail werden wir bei der EU-Regulierungsbehörde für Telekommunikation einreichen, wenn die offizielle Konsultation im Juni 2016 startet.</p>
      </header>
      <section class="home__questions__container__content__body">
        <div id="questionnaire-loading-spinner">Fragebogen wird geladen&nbsp;&hellip; <i class="fa fa-circle-o-notch fa-spin"></i></div>
        <iframe id="home__questions__container__content__body__iframe" class="home__questions__container__content__body__form" src="{{ $iframeURL }}" scrolling="no"></iframe>
        <!-- <iframe id="home__questions__container__content__body__iframe" class="home__questions__container__content__body__form" src="/step-1" scrolling="no"></iframe> -->
      </section>
    </div>
  </div>
</section>
