{{ $language := .Site.Params.language }}

<section class="home__fix-net-neutrality">
  <div class="home__fix-net-neutrality__container">
    <div class="home__fix-net-neutrality__container__content">
      <header class="home__fix-net-neutrality__container__content__header">
        <h1>Was repariert werden&nbsp;muss</h1>
      </header>
      <section class="home__fix-net-neutrality__container__content__specialised-services">
        <img src="/images/specialised_services.svg" />
        <h2>Spezialdienste</h2>
        <p>Spezialdienste drohen zu bezahlten Überholspuren für finanzstarke Unternehmen zu werden. Jede andere Website, jede Idee und jedes Start-Up würde auf die Kriechspur verbannt.
          <br>
          <a href="/{{ $language }}/faq/#specialised-services" target="_blank">In den FAQs weiterlesen</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__traffic-management">
        <img src="/images/traffic_management.svg" />
        <h2>Traffic-Management</h2>
        <p>Keine Zensur des offenen Internet: Internet-Provider dürfen und nicht Hilfssheriffs werden und entscheiden, welche Datenverbindung wichtig ist und welche Onlinedienste er eigenmächtig herunterdrosselt.
          <br>
          <a href="/{{ $language }}/faq/#traffic-management" target="_blank">In den FAQs weiterlesen</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__zero-rating">
        <img src="/images/zero_rating.svg" />
        <h2>Zero-Rating</h2>
        <p>Es scheint, als ob du etwas gratis bekommst, aber Zero-Rating macht deinen Mobilfunkanbieter zum Türsteher. Außerdem gibt es ihm einen Grund, dein monatliches Datenvolumen zu senken.
          <br>
          <a href="/{{ $language }}/faq/#zero-rating" target="_blank">In den FAQs weiterlesen</a>
        </p>
      </section>
    </div>
  </div>
</section>
