.contact-us {

  h2 {
    font-family: $montserrat;
    font-weight: 400;
    @include setFontToBaseline(30px, 1, 1);
    line-height: 2.5rem;
  }

  a {
    // montserrat bold 20
  }

  p {
    // source sans reg 20px
  }

  p {
    // soure sans reg 15px
  }
}
