.navigation__outer {
}

.navigation__inner {
}

.navigation__content {
}

.home__intro__outer {
  min-height: 448px;
  background-color:    $sti-blue-new;
  background-image:    url(../images/background.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: bottom center;
}

.home__intro__inner {
  @include container;
}

.home__intro__content {
  @include span(18);
  margin-left:  span(3) + gutter();
  margin-right: span(3);
  margin-top: 100px;

  color: $sti-white;
  text-align: center;

  .counter {
    @include span(8 of 18);
    margin-left:  span(5 of 18) + gutter(18);
    margin-right: span(5 of 18);

    position: relative;
    bottom: -100px;

    table {
      width: 100%;
      visibility: hidden;
      tr {
        td:nth-child(odd) {
          @include setFontToBaseline(32px, 1, 1);
        }
        td:nth-child(even) {
          @include setFontToBaseline(14px, 0.2, 0.2);
          text-align: left;
          padding-left: 0.5rem;
          padding-right: 2rem;
        }
      }
    }

    p:last-of-type {
      text-align: center;
      .take-action-button {
        font-family: $montserrat;
        font-weight: 700;
        color: $sti-white;
        @include setFontToBaseline(27px, 1, 1);
        background-color: #ff4c0d;
        padding-top: span(1 of 24);
        padding-bottom: span(1 of 24);
        width: 100%;
      }
    }
  }
}

.home__fix-net-neutrality__outer {
  background-color: $sti-white;
}

.home__fix-net-neutrality__inner {
  @include container;
}

@mixin fix-net-neutrality-column($topic) {
  .home__#{$topic} {
    @include span(8 of 24);
    box-sizing:        border-box;
    padding-left:      span(1 of 24);
    background-image:  url("../images/#{$topic}.svg");
    background-size:   50px;
    background-repeat: no-repeat;
    margin-right:      0px;
  }
}

.home__fix-net-neutrality__content {
  @include span(24);
  text-align: center;

  p:last-of-type {
    text-align: left;
  }

  h3 {
    margin-top: 0px;
  }

  @include fix-net-neutrality-column("specialised-services");
  @include fix-net-neutrality-column("traffic-management");
  @include fix-net-neutrality-column("zero-rating");
}

.home__questionnaire__outer {
  background-color: $sti-blue-new;
}

.home__questionnaire__inner {
  @include container;
}

.home__questionnaire__content {
  @include span(24);
  color: $sti-white;
  text-align: center;
}

.home__spread-the-word__outer {
  background-color: #1c1e23;
}

.home__spread-the-word__inner {
  @include container;
}

.home__spread-the-word__content {
  @include span(24);
  color: $sti-white;
  text-align: center;
}

.home__newsletter__outer {
  background-color: #010101;
}

.home__newsletter__inner {
  @include container;
}

.home__newsletter__content {
  @include span(24);
  color: $sti-white;
  text-align: center;
}

.home__video__outer {
  background-color: $sti-white;
}

.home__video__inner {
  @include container;
}

.home__video__content {
  @include span(24);
  background-color: #010101;
  color: $sti-white;
  text-align: center;
}

.home__info__outer {
  background-color: $sti-white;
}

.home__info__inner {
  @include container;
}

.home__info__content {
  @include span(24);
  background-color: #010101;
  color: $sti-white;
  text-align: center;
}

.home__berec__outer {
  background-color: $sti-white;
}

.home__berec__inner {
  @include container;
}

.home__berec__content {
  @include span(24);
  color: $sti-white;
  text-align: center;

  p {
    background-color: #171717;
    @include setFontToBaseline(28px, 1, 1);
  }
}

.home__supported-by__outer {
  background-color: $sti-white;
}

.home__supported-by__inner {
  @include container;
}

.home__supported-by__content {
  @include span(24);
  background-color: #010101;
  color: $sti-white;
  text-align: center;
}

.home__made-by__outer {
  background-color: $sti-white;
}

.home__made-by__inner {
  @include container;
}

.home__made-by__content {
  @include span(24);
  background-color: #010101;
  color: $sti-white;
  text-align: center;
}
