{{ $siteImagePath := "images/save_the_internet_logo_headline@2x.png" }}

<!DOCTYPE html>
<html lang="{{ .Site.Params.language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }} - {{ .Site.Params.takeaction }}</title>
    <meta name="description" content="{{ .Site.Params.takeaction }}">
    <meta name="author" content="Initiative für Netzfreiheit, European Digital Rights">
    <meta name="keywords" content="net neutrality, connected conntinent, digital single market, dsm, neelie kroes, Netzneutralität, drosselkom, specialised services, echtesnetz, BEREC, Internetneutralität, Plattformneutralität, Neutralitätsdebatte">
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.takeaction }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}/{{ $siteImagePath }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{ .Site.BaseURL }}" />
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Site.Params.takeaction }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ $siteImagePath }}">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	  <title> {{ .Site.Title }} &middot; {{ .Title }} </title>
    <link href="/stylesheets/site.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-select.min.css">
    <!-- Favicon (a single .ico file with 16x16, 32x32 and 64x64) -->
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <!-- Apple Touch Icons (iOS7 and up)  -->
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
    <!-- Safari pinned tabs -->
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#89D3F6">
    <!-- Chrome Android + Safari  -->
    <meta name="theme-color" content="#89D3F6">
    <!-- Windows 8 Tiles -->
    <meta name="msapplication-TileColor" content="#89D3F6">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <!-- <script type="text/javascript" src="/share/share.json"></script> -->
  </head>
  <body>
