<section class="home__stay-informed">
  <div class="home__stay-informed__container">
    <div class="home__stay-informed__container__content">
      <section class="home__stay-informed__container__content__newsletter">
        <h2>Stay informed!</h2>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="">Your Email:</label>
            <input type="email" class="form-control" id="" placeholder="Email">
          </div>
          <div class="form-group">
          <label for="newsletter-country">Choose country:</label>
            <select title="––––––" class="selectpicker" id="newsletter-country" name="">
              <option data-content="<i class='flag flag-retina flag-at'></i><span class='flag-label'>Austria</span>" value="AT">Austria</option>
              <option data-content="<i class='flag flag-retina flag-at'></i><span class='flag-label'>Austria</span>" value="AT">Austria</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default">Sign up</button>
        </form>
      </section>
    </div>
  </div>
</section>
