<section class="home__spread-the-word">
  <div class="home__spread-the-word__container">
    <div class="home__spread-the-word__container__content">
      <section class="home__spread-the-word__container__content__social">
        <h2>Spread the word!</h2>
        <ul class="home__spread-the-word__container__content__social__icons">
          <li>
            <i class="fa fa-facebook fa-2x"></i>
          </li>
          <li>
            <i class="fa fa-twitter fa-2x"></i>
          </li>
          <li>
            <i class="fa fa-google-plus fa-2x"></i>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
