<section class="home__fix-net-neutrality">
  <div class="home__fix-net-neutrality__container">
    <div class="home__fix-net-neutrality__container__content">
      <header class="home__fix-net-neutrality__container__content__header">
        <h1>What needs to be fixed</h1>
      </header>
      <section class="home__fix-net-neutrality__container__content__specialised-services">
        <img src="/images/specialised_services.svg" />
        <h2>Specialised Services</h2>
        <p>Specialised Services risk becoming the paid fast-lane for big Internet companies that push every other website, idea and start-up into the slowlane.</p>
        <a href="/faq/#specialised-services" target="_blank">read more in FAQ</a>
      </section>
      <section class="home__fix-net-neutrality__container__content__traffic-management">
        <img src="/images/traffic_management.svg" />
        <h2>Traffic Management</h2>
        <p>Don't let your Internet provider decide what traffic is important and which online services it slows down, at its own discretion.</p>
        <a href="/faq/#traffic-management" target="_blank">read more in FAQ</a>
      </section>
      <section class="home__fix-net-neutrality__container__content__zero-rating">
        <img src="/images/zero_rating.svg" />
        <h2>Zero Rating</h2>
        <p>It sounds like you get something for free, but it makes your mobile operator become a gatekeeper and gives it a reason for lower monthly data caps.</p>
        <a href="/faq/#zero-rating" target="_blank">read more in FAQ</a>
      </section>
    </div>
  </div>
</section>
