<section class="home__stay-informed">
  <div class="home__stay-informed__container">
    <div class="home__stay-informed__container__content">
      <section class="home__stay-informed__container__content__newsletter">
        <h2>Stay informed!</h2>
          <form action="https://mailman.edri.org/mailman/subscribe/savetheinternet/" method="post">
            <div class="form-group">
              <input class="form-control" id="newsletter-email" name="email" placeholder="Your Email" type="email">
            </div>
            <div class="form-group">
              <select class="selectpicker" name="email" >
                <option data-content="<i class='flag flag-retina flag-at'></i><span class='flag-label'>Austria</span>" value="at">Austria</option>
                <option data-content="<i class='flag flag-retina flag-be'></i><span class='flag-label'>Belgium</span>" value="be">Belgium</option>
                <option data-content="<i class='flag flag-retina flag-bg'></i><span class='flag-label'>Bulgaria</span>" value="bg">Bulgaria</option>
                <option data-content="<i class='flag flag-retina flag-hr'></i><span class='flag-label'>Croatia</span>" value="hr">Croatia</option>
                <option data-content="<i class='flag flag-retina flag-cy'></i><span class='flag-label'>Cyprus</span>" value="cy">Cyprus</option>
                <option data-content="<i class='flag flag-retina flag-cz'></i><span class='flag-label'>Czech Republic</span>" value="cz">Czech Republic</option>
                <option data-content="<i class='flag flag-retina flag-dk'></i><span class='flag-label'>Denmark</span>" value="dk">Denmark</option>
                <option data-content="<i class='flag flag-retina flag-ee'></i><span class='flag-label'>Estonia</span>" value="ee">Estonia</option>
                <option data-content="<i class='flag flag-retina flag-fi'></i><span class='flag-label'>Finland</span>" value="fi">Finland</option>
                <option data-content="<i class='flag flag-retina flag-fr'></i><span class='flag-label'>France</span>" value="fr">France</option>
                <option data-content="<i class='flag flag-retina flag-de'></i><span class='flag-label'>Germany</span>" value="de">Germany</option>
                <option data-content="<i class='flag flag-retina flag-gr'></i><span class='flag-label'>Greece</span>" value="gr">Greece</option>
                <option data-content="<i class='flag flag-retina flag-hu'></i><span class='flag-label'>Hungary</span>" value="hu">Hungary</option>
                <option data-content="<i class='flag flag-retina flag-ie'></i><span class='flag-label'>Ireland</span>" value="ie">Ireland</option>
                <option data-content="<i class='flag flag-retina flag-it'></i><span class='flag-label'>Italy</span>" value="it">Italy</option>
                <option data-content="<i class='flag flag-retina flag-lv'></i><span class='flag-label'>Latvia</span>" value="lv">Latvia</option>
                <option data-content="<i class='flag flag-retina flag-lt'></i><span class='flag-label'>Lithuania</span>" value="lt">Lithuania</option>
                <option data-content="<i class='flag flag-retina flag-lu'></i><span class='flag-label'>Luxembourg</span>" value="lu">Luxembourg</option>
                <option data-content="<i class='flag flag-retina flag-mt'></i><span class='flag-label'>Malta</span>" value="mt">Malta</option>
                <option data-content="<i class='flag flag-retina flag-pl'></i><span class='flag-label'>Poland</span>" value="pl">Poland</option>
                <option data-content="<i class='flag flag-retina flag-pt'></i><span class='flag-label'>Portugal</span>" value="pt">Portugal</option>
                <option data-content="<i class='flag flag-retina flag-ro'></i><span class='flag-label'>Romania</span>" value="ro">Romania</option>
                <option data-content="<i class='flag flag-retina flag-sk'></i><span class='flag-label'>Slovak Republic</span>" value="sk">Slovak Republic</option>
                <option data-content="<i class='flag flag-retina flag-si'></i><span class='flag-label'>Slovenia</span>" value="si">Slovenia</option>
                <option data-content="<i class='flag flag-retina flag-es'></i><span class='flag-label'>Spain</span>" value="es">Spain</option>
                <option data-content="<i class='flag flag-retina flag-se'></i><span class='flag-label'>Sweden</span>" value="se">Sweden</option>
                <option data-content="<i class='flag flag-retina flag-nl'></i><span class='flag-label'>The Netherlands</span>" value="nl">The Netherlands</option>
                <option data-content="<i class='flag flag-retina flag-gb'></i><span class='flag-label'>United Kingdom</span>" value="gb">United Kingdom</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" name="email-button" value="SIGN UP" type="submit" id="newsletter-submit">SIGN UP</button>
            </div>
          </form>


          <!-- <form action="https://mailman.edri.org/mailman/subscribe/savetheinternet/" method="post">
            <div class="form-group">
              <input name="email" type="email" class="form-control" id="newsletter-email" placeholder="Your Email">
            </div>
            <div class="form-group">
              <input name="email-button" value="SIGN UP" type="Submit" id="newsletter-submit" class="btn btn-default btn-lg">
            </div>
          </form> -->
      </section>
    </div>
  </div>
</section>
