<section class="home__contact">
  <div class="home__contact__container">
    <div class="home__contact__container__content">
      <header class="home__contact__container__contact">
        <h2>Contact Us</h2>
        <h3>
	  Feel free to contact us at <span class="bold"> <a href="mailto:info@savetheinternet.eu">info@savetheinternet.eu</a></span>
	</h3>
	<p>
	  You have an idea to improve this website? That's great, we need you! The full source code of this website is <a href="https://github.com/Netzfreiheit/STI-UI">available on GitHub</a> and can be forked, improved, remixed and pushed back to us.
	</p>
	<p>
	  One thing we always need is help with translations, so if you speak a language that we haven't covered <a href="http://berec.europa.eu/eng/document_register/subject_matter/berec_office/download/0/4615-privacy-statement-berec-office-policy-do_0.pdf">here</a> so far, please get in contact with us.
	</p>
      </header>
      <section class="home__contact__container__privacy">
        <h5>Privacy Policy</h5>
	<p>
          We store your comments to the BEREC consultation in the inbox of an e-mail address hosted in Austria until we forward these e-mails with your comments to the official BEREC consultation. You can find the Privacy Policy of BEREC for consultations here. BEREC will publish all responses that are not marked as confidential. The organisations behind this campaign might also analyse the comments send to through website, if they are not marked as confidential. One month after the official consultation period has ended we will delete all comments.
	</p>
        <p>
	  We collect non-personalized information on this website with <a href="https://piwik.org/">Piwik</a>; a privacy friendly web analytics software.
	</p>
        <p>
	  If you subscribe to the newsletter your email address will be stored in a mailinglist and database.
	</p>
      </section>
    </div>
  </div>
</section>
