<section class="home__contact">
  <div class="home__contact__container">
    <div class="home__contact__container__content">
      <header class="home__contact__container__contact">
        <h2>Contact Us</h2>
        <h3>
	  Feel free to contact us at <span class="bold"> <a href="mailto:info@savetheinternet.eu">info@savetheinternet.eu</a></span>
	</h3>
	<p>
	  You have an idea to improve this website? That's great, we need you! The full source code of this website is available on github and can be forked, improved, remixed and pushed back to us.
	</p>
	<p>
	  One thing we always need is help with translations, so if you speak a language that we haven't covered here so far, please get in contact with us.
	</p>
      </header>
      <section class="home__contact__container__privacy">
        <h5>Privacy Policy</h5>
	<p>
	  We store your comments to the BEREC consultation in the inbox of an e-mail address hosted in Austria until we forward these e-mails to the official BEREC consultation. You can find the Privacy Policy of BEREC for consultations here. BEREC will publish all responses that are not marked as confidential. The organisations behind this campaign might also analyse the comments send to through website, if they are not marked as confidential. Once we receive the confirmation that BEREC received the comment or the official consultation period has ended we will delete all comments.
	</p>
        <p>
	  We collect non-personalized information on this website with Piwik a privacy friendly web analytics software.
	</p>
        <p>
	  If you subscribe to the newsletter your email address and the optional input of your country will be stored in a mailinglist and database. At a later stage we may share your information with the organisations of your country that are part of the SaveTheInternet coalition (they are listed in the footer of this page).
	</p>
      </section>
    </div>
  </div>
</section>
