<div class="nav-bar">
  <div class="nav-bar-container">
    <div class="nav-bar-content">
      <nav class="nav-bar-content__nav">
        <ul class="nav-main">
          <li><a href="#">Information</a></li>
          <li><a href="#" class="send-a-message">Send a message!</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
        <ul class="nav-language">
          <li><a href="#" class="active">EN</a></li>
          <li><a href="#">FR</a></li>
          <li><a href="#">DE</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
