    <script src="/javascripts/vendor/jquery.min.js"></script>
    <script src="/javascripts/vendor/iframeResizer.min.js"></script>
    <script src="/javascripts/vendor/fastclick.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <!-- <script src="/javascripts/vendor/bootstrap/carousel.js"></script>
    <script src="/javascripts/vendor/bootstrap/button.js"></script>
    <script src="/javascripts/vendor/bootstrap/dropdown.js"></script> -->
    <script src="/javascripts/vendor/bootstrap-select.min.js"></script>
    <script src="/javascripts/vendor/hammer.min.js"></script>
    <script src="/javascripts/vendor/jquery.hammer.js"></script>
    <script src="/javascripts/vendor/css_browser_selector.js"></script>
    <script src="/javascripts/shared.js"></script>
    <script src="/javascripts/home.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
     var _paq = _paq || [];
     _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
     _paq.push(["setCookieDomain", "*.savetheinternet.eu"]);
     _paq.push(["setDomains", ["*.savetheinternet.eu"]]);
     _paq.push(["setDoNotTrack", true]);
     _paq.push(["trackPageView"]);
     _paq.push(["enableLinkTracking"]);
     (function() {
	     var u=(("https:" == document.location.protocol) ? "https" : "http")
    + "://piwik.netzfreiheit.org/";
	     _paq.push(["setTrackerUrl", u+"piwik.php"]);
	     _paq.push(["setSiteId", "11"]);
	     var d=document, g=d.createElement("script"),
    s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
	     g.defer=true; g.async=true; g.src=u+"piwik.js";
    s.parentNode.insertBefore(g,s);
     })();
    </script>
    <!-- End Piwik Code -->

  </body>
</html>
