    <script src="/javascripts/vendor/jquery.min.js"></script>
    <script src="/javascripts/vendor/iframeResizer.min.js"></script>
    <script src="/javascripts/vendor/fastclick.min.js"></script>
    <script src="/javascripts/vendor/bootstrap/carousel.js"></script>
    <script src="/javascripts/vendor/bootstrap/button.js"></script>
    <script src="/javascripts/vendor/bootstrap/dropdown.js"></script>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-select.min.css">
    <script src="/javascripts/shared.js"></script>
    <script src="/javascripts/home.js"></script>
  </body>
</html>
