{{ $locale := .Site.Params.locale }}
<div class="nav-bar">
  <div class="nav-bar-container">
    <div class="nav-bar-content">
      <nav class="nav-bar-content__nav">
        <ul class="nav-main">
          <li><a href="/#info">Information</a></li>
          <li><a href="/#send-a-message" class="send-a-message">Send a message!</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
        <ul class="nav-language">
          <li><a {{ if eq $locale "en-UK" }} href="#" class="active" {{ else }} href="/en" {{ end }}>EN</a></li>
          <li><a {{ if eq $locale "de-DE" }} href="#" class="active" {{ else }} href="/de" {{ end }}>DE</a></li>
          <li><a {{ if eq $locale "fr-FR" }} href="#" class="active" {{ else }} href="/fr" {{ end }}>FR</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
