// fix-net-neutrality

.home__fix-net-neutrality {
  // background-color: $sti-blue-sky-light;
  background-color: $sti-blue-sky-light;
}

.home__fix-net-neutrality__container {
  @include container;
  background-color: $sti-blue-sky-light;
}

.home__fix-net-neutrality__container__content {
  @include content;
  background-color: $sti-white;
}

.home__fix-net-neutrality__container__content__header {
  @include content-inside;
  background-color: $sti-white;
}

.home__fix-net-neutrality__container__content__specialised-services {
  @include content-inside;
  background-color: $sti-white;
}

.home__fix-net-neutrality__container__content__traffic-management {
  @include content-inside;
  background-color: $sti-white;
}

.home__fix-net-neutrality__container__content__zero-rating {
  @include content-inside;
  background-color: $sti-white;
}
