// videos

.home__videos {
  background-color: $sti-blue-sky-light;
}

.home__videos__container {
  @include container;
  background-color: $sti-blue-sky-light;
}

.home__videos__container__content {
  @include content;
  background-color: $sti-white;
}

.home__videos__container__content__header {
  
  // padding: 1.5em;
}
