// questions

.home__questions {
  background-color: $sti-orange;
}

.home__questions__container {
  @include container;
  background-color: $sti-orange;
}

.home__questions__container__content {
  @include content;
  background-color: $sti-orange;
  color: $sti-white;
}

.home__questions__container__content__header {
  @include content-inside;
}

.home__questions__container__content__body {
  @include span(24);
  background-color: $sti-orange;
}

.home__questions__container__content__body__form {
  width: 100%;
  background-color: $sti-orange;
  // overflow: hidden;
  // width: 100%;
  // height: 100%;
  // border: none;
}
