// counter

.home__counter {
  width: 100%;
  height: 50vh;
  background-image:    url(../../images/hero.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.home__counter__container{
  @include container;
}

.home__counter__container__content {
  @include content;
}

.home__counter__container__content__counter {
  @include span(6 last);

  .counter {
    top: -200px;
    background-color: $sti-orange;

    h1 {
      @include sassline(45, $headingtype, 2, 2, 0);
      font-weight: 700;
      font-style: italic;
      color: $sti-white;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    h2 {
      @include sassline(40, $headingtype, 2, 2, 0);
      color: $sti-white;
      padding-top: 10px;
    }

    p {
      @include sassline(15, $bodytype, 2, 2, 0);
      padding-top: 5px;
    }
  }

}
