// spread-the-word

.home__spread-the-word {
  // background-color: $sti-blue-sky-light;
  background-color: $sti-blue-sky-light;
}

.home__spread-the-word__container {
  @include container;
  background-color: $sti-blue-sky-light;
}

.home__spread-the-word__container__content {
  @include content;
  background-color: $sti-white;
}

.home__spread-the-word__container__content__header {
  @include span(24);
  padding: 1.5em;
}

.home__spread-the-word__container__content__berec-decision-1 {
}

.home__spread-the-word__container__content__berec-decision-1 {
}
