// =============================================================================
// _vars.scss
// -----------------------------------------------------------------------------
// Vars and Settings
// =============================================================================

@import '_functions';

// -----------------------------------------------------------------------------
// Font Stacks
// -----------------------------------------------------------------------------

@include font-face("Montserrat-Regular", "Montserrat-Regular", "Montserrat", "sans-serif")
@include font-face("SourceSansPro-Regular", "SourceSansPro-Regular", "Source_Sans_Pro", "sans-serif")
@include font-face("Open Sans", "SourceSansPro-Regular", "sans-serif");

$sourcesans: 'SourceSansPro-Regular', sans-serif;
$montserrat: 'Montserrat-Regular', sans-serif;
$opensans: 'Open Sans', sans-serif;

// -----------------------------------------------------------------------------
// Font Sizes (_verticalrythm.scss)
// -----------------------------------------------------------------------------
$base-font-size: 20px;
$base-line-height: 1.5;

// -----------------------------------------------------------------------------
// Colors
// http://clrs.cc
// -----------------------------------------------------------------------------
$navy: #001F3F;
$greynavy: #303747;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;
