// =============================================================================
// _base.scss
// -----------------------------------------------------------------------------
// Basic Styles for all pages
// =============================================================================

$susy: (
  columns: 24,
  container: 1024px,
  global-box-sizing: border-box
);

  // debug: (image: show)

$sti-blue:           #92c2ed;
$sti-blue-dark:      #004E84;
$sti-blue-light:     #0076CE;
$sti-black-dark:     #010101;
$sti-black-light:    #303030;
$sti-blue-sky-dark:  #43AFDC;
$sti-blue-sky-light: #89D3F6;
$sti-gray-dark:      #A1A6A8;
$sti-gray-light:     #C2C6C8;
$sti-gray-lighter:   #D8DADB;
$sti-gray-lightest:  #F0F2F4;
$sti-orange:         #fd6f1d;
$sti-white:          #ffffff;

// breakpoints

$mobile:        0;
$tablet-small:  640;
$tablet:        800;
$desktop:       1024;
$desktop-large: 1600;

@mixin cf {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin center($axis: "both") {
  position: absolute;

  @if $axis == "y"{
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin sti-gradient-background($color-from, $color-to) {
  @include background-image(photoshop-gradient-overlay($color-from, normal, 100%, 90deg, 100%, ($color-from 0%, $color-to 100%)));
}


@mixin content {
  width: span(24 last);
  // width: span(18 last);
  @include susy-breakpoint($tablet-small) {
    width: span(18 last);
  }
  // @include breakpoint(break-2) {
  //   width: span(18 last);
  // }
  margin-left:  auto;
  margin-right: auto;
}

@mixin content-inside {
  @include span(24);
  // padding-left: span(2);
  // padding-right: span(2);
}

@mixin triangle-top($color) {
  background-image: url(../images/triangle_#{$color}.svg);
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: top center !important;
  padding-top: +73px;
}
