<ul class="footerlogos">
  <li>
    <a href="http://produktion.io/">
      <img src="/images/produktion_io.gif" alt="PRODUKTION.IO">
    </a>
  </li>
  <li>
    <a href="https://aykit.org">
      <img src="/images/aykit.gif" alt="AYKIT">
    </a>
  </li>
  <li>
    <a href="http://endzone.io/">
      <img src="/images/endzone_io.gif" alt="Endzone.io">
    </a>
  </li>
  <li>
    <a href="http://daruma.io/">
      <img src="/images/daruma_io.gif" alt="DARUMA.IO">
    </a>
  </li>
</ul>
