<ul class="footerlogos">
  <li>
    <a href="https://netzfreiheit.org/">
      <img src="/images/sponsors/ifnf.gif"><br>
      Initiative für Netzfreiheit (AT)
    </a>
  </li>
  <li>
    <a href="https://edri.org/">
      <img src="/images/sponsors/edri.gif"><br>
      European Digital Rights (EU)
    </a>
  </li>
  <li>
    <a href="https://www.accessnow.org">
      <img src="/images/sponsors/access_now.gif"><br>
      Access Now (international)
    </a>
  </li>
  <li>
    <a href="https://digitalegesellschaft.de">
      <img src="/images/sponsors/digiges.gif"><br>
      Digitale Gesellschaft (DE)
    </a>
  </li>
  <li>
    <a href="https://www.laquadrature.net/">
      <img src="/images/sponsors/lqdn.gif"><br>
      La Quadrature du Net (FR)
    </a>
  </li>
  <li>
    <a href="https://www.bof.nl/">
      <img src="/images/sponsors/bof.gif"><br>
      Bits of Freedom (NL)
    </a>
  </li>

  <li>
    <a href="https://www.openrightsgroup.org">
      <img src="/images/sponsors/org.gif"><br>
      Open Rights Group (UK)
    </a>
  </li>
  <li>
    <a href="http://itpol.dk/">
      <img src="/images/sponsors/itpol.gif"><br>
      IT-Politisk Forening (DK)
    </a>
  </li>
  <li>
    <a href="http://xnet-x.net">
      <img src="/images/sponsors/xnet.gif"><br>
      Xnet (ES)
    </a>
  </li>
  <li>
    <a href="http://www.info-hisa.si">
      <img src="/images/sponsors/infohouse.gif"><br>
      Info House (SL)
    </a>
  </li>
  <li>
    <a href="http://www.startupsfornetneutrality.eu">
      <img src="/images/sponsors/startups4nn.gif"><br>
      Startups for Net Neutrality (international)
    </a>
  </li>
  <li>
    <a href="https://www.dfri.se/">
      <img src="/images/sponsors/dfri.gif"><br>
      Föreningen för Digitala Fri- och Rättigheter (SE)
    </a>
  </li>
  <li>
    <a href="https://www.apti.ro/">
      <img src="/images/sponsors/apti.gif"><br>
      Asociația pentru Tehnologie și Internet (RO)
    </a>
  </li>
  <li>
    <a href="https://ffdn.org/en/">
      <img src="/images/sponsors/ffdn_logo.gif"><br>
      Fédération FDN (FR)
    </a>
  </li>
  <li>
    <a href="http://nurpa.be/">
      <img src="/images/sponsors/nurpa-logo.gif"><br>
      nurpa (BE)
    </a>
  </li>
  <li>
    <a href="https://digitalcourage.de/">
          <img src="/images/sponsors/digitalcourage.gif"><br>
          Digitalcourage (DE)
    </a>
  </li>
  <li>
    <a href="http://www.vzbv.de/">
          <img src="/images/sponsors/vzbv.gif"><br>
          Verbraucherzentrale Bundesverband e.V. (DE)
    </a>
  </li>
  <li>
    <a href="https://akvorrat.at/">
          <img src="/images/sponsors/akv.gif"><br>
          Arbeitskreis Vorratsdaten Österreich (AT)
    </a>
  </li>
  <li>
    <a href="https://www.wikimedia.at/">
          <img src="/images/sponsors/wikimedia-at.gif"><br>
          Wikimedia Austria (AT)
    </a>
  </li>
  <li>
    <a href="https://www.zps.si/">
          <img src="/images/sponsors/zps.gif"><br>
          Zveza potrošnikov Slovenije (SL)
    </a>
  </li>
  <li>
    <a href="http://aktivnipotrebiteli.bg/">
      <img src="/images/sponsors/active_consumers_english.gif"><br>
      Active Consumers (BG)
    </a>
  </li>
  <li>
    <a href="https://www.fightforthefuture.org/">
      <img src="/images/sponsors/fight_for_the_future.gif"><br>
      Fight For The Future (US)
    </a>
  </li>
  <li>
    <a href="https://openmedia.org/">
      <img src="/images/sponsors/openmedia.gif"><br>
      OpenMedia (CA)
    </a>
  </li>
</ul>
