    <%= @body %>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/iframeResizer.min.js"></script>
    <script src="/scripts/fastclick.min.js"></script>
    <script src="/scripts/bootstrap/carousel.js"></script>
    <script src="/scripts/bootstrap/button.js"></script>
    <script src="/scripts/bootstrap/dropdown.js"></script>
    <script src="/scripts/hammer.min.js"></script>
    <script src="/scripts/jquery.hammer.js"></script>
    <script src="/scripts/css_browser_selector.js"></script>
    <script src="/scripts/smooth-scroll.js"></script>

    <script src="/scripts/shared.js"></script>
    <script src="/scripts/site.js"></script>

    <script type="text/javascript">
     var _paq = _paq || [];
     _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
     _paq.push(["setCookieDomain", "*.savetheinternet.eu"]);
     _paq.push(["setDomains", ["*.savetheinternet.eu"]]);
     _paq.push(["setDoNotTrack", true]);
     _paq.push(["trackPageView"]);
     _paq.push(["enableLinkTracking"]);
     (function() {
	     var u=(("https:" == document.location.protocol) ? "https" : "http")
    + "://piwik.netzfreiheit.org/";
	     _paq.push(["setTrackerUrl", u+"piwik.php"]);
	     _paq.push(["setSiteId", "11"]);
	     var d=document, g=d.createElement("script"),
    s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
	     g.defer=true; g.async=true; g.src=u+"piwik.js";
    s.parentNode.insertBefore(g,s);
     })();
    </script>
  </body>
</html>
