// info

.home__info {
  // background-color: $sti-blue-sky-light;
  background-color: $sti-blue-sky-light;
}

.home__info__container {
  @include container;
  background-color: $sti-blue-sky-light;
}

.home__info__container__content {
  @include content;
  background-color: $sti-white;
}

.home__info__container__content__berec-decision-1 {
  @include content-inside;
  background-color: $sti-white;
  padding-top: span(2);
}



.ie .home__info__container__content__berec-decision-2 {
  @include ie-triangle-top(white);
}


.home__info__container__content__berec-decision-2 {
  @include content-inside;
  @include triangle-top(white);
  background-color: $sti-black-dark;
  color: $sti-white;
  h2 {
    line-height: 2rem;
  }
}

.ie .home__info__container__content__berec-decision-3 {
  @include content-inside;
  @include ie-triangle-top(black);
  background-color: $sti-white;
}

.home__info__container__content__berec-decision-3 {
  @include content-inside;
  @include triangle-top(black);
  background-color: $sti-white;
}

.home__info__container__content__berec-decision-4 {
  @include content-inside;
  background-color: $sti-white;
}

.home__info__container__content__berec-decision-5 {
  @include content-inside;
  background-color: $sti-white;
  h3 {
    padding-top: span(1);
  }
  h2 {
    a {
      @extend h2;
      color: $sti-orange;
      text-decoration: underline;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}

.home__info__container__content__net-neutrality-roadmap {
  @include content-inside;
  background-color: $sti-white;
  height: 350px;
  background-image:    url(../images/net_neutrality_roadmap.png);
  background-image:    url(../images/net_neutrality_roadmap.svg);
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: right bottom;
  h2 {
    margin-top: 1rem;
  }
}
