@mixin content {
  width: span(24 last);
  margin-left:  auto;
  margin-right: auto;
  @include susy-breakpoint($tablet, $desktop-large) {
   width: span(18 last);
  }
}

@import "home_intro";
@import "home_tagline";
@import "home_counter";
@import "home_share";
@import "home_info";
@import "home_videos";
@import "home_fix_net_neutrality";
@import "home_questions";
@import "home_spread_the_word";
@import "home_contact";
