// contact

.home__contact {
    background-color: $sti-blue-sky-light;
    h2 {
      margin: 0;
      text-align: center;
      padding-top: span(2);
    }

    h5 {
      text-align: center;
    }

    h3 {
      font-weight: 200;
    }

    .bold {
      font-weight: 700;
    }
}

.home__contact__container {
  @include container;
  background-color: $sti-blue-sky-light;
}

.home__contact__container__content {
  @include content;
  background-color: $sti-white;
}

.home__contact__container__privacy {
  @include content;
  :last-child {
    margin: 0;
    padding-bottom: span(2);
  }
}
