// counter

.home__counter {
  width: 100%;
  height: 70vh;
  background-image:    url(../images/hero.png);
  background-attachment:fixed;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center bottom;
}

.home__counter__container{
  @include container;
}

.home__counter__container__content {
  @include content;
}

.home__counter__container__content__counter {
  @include span(6 last);
}

.counter-button {
  position: relative;
  top: -2rem;
  max-width: 162px;
  // max-height: 280px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 137, 19);
  // box-shadow: inset 0px 0px 10px 30px rgba(251, 72, 0,.71), inset 0 0 62px 19px rgba(231,230,231,.02);
  box-shadow: inset 3px 5px 24px rgba(1,1,1,.11), inset 0 0 43px 4px rgba(251, 72, 0,.71);
  color: $sti-white;

  background-image:    url(../images/act_now.svg);
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: bottom center;

  &:hover {
    // background-image: url(../images/act_now_active.svg);
    // background-color: $sti-white;
  }
}


.counter-message {
  display: block;
  font-family: $montserrat;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.025rem;
  @include setFontToBaseline(40px, 1, 1);
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0.8rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.counter-message-description {
  display: block;
  color: $sti-black-dark;
  font-family: $montserrat;
  font-weight: 400;
  text-align: left;
  @include setFontToBaseline(16px, 0, 0);
  margin-top: -0.4rem !important;
  margin-bottom: 0px !important;
  line-height: 1rem !important;
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.counter-days-left {
  display: block;
  font-family: $montserrat;
  font-weight: 400;
  text-align: center;
  @include setFontToBaseline(43px, 1, 1);
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0.8rem;
  padding-left: 0;
  padding-right: 0;
}

.counter-days-left-description {
  @extend .counter-message-description;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 142px;
}
