// videos

.home__videos {
  background-color: $sti-blue-sky-light;
}

.home__videos__container {
  @include container;
  background-color: $sti-blue-sky-light;
}

.home__videos__container__content {
  @include content;
  background-color: $sti-black-dark;
}

.home__videos__container__content__videos {
  @include span(24);
}

#video-carousel {
  background-color: $sti-black-dark;
  padding-top: span(2);
  padding-bottom: span(2);
}

.home-video {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;

  @extend .embed-responsive;

  min-height: 320px;
  max-width: 320px;

  @include susy-breakpoint($tablet-small) {

    min-height: 380px;
    max-width: 640px;
  }

}

// bootstrap overrides

.carousel {

  .right, .left {
    top: auto;
    bottom: -20px;
  }

  @include susy-breakpoint($tablet) {
    .right, .left {
      top: 50%;
      margin-top: -1.5em;
      bottom: auto;
    }
  }
}

.carousel-indicators {
  bottom: 0;

  li {
    box-sizing: border-box;
  }
}

