// counter

.home__counter {
  height: 70vh;
  background-image:      url(../images/hero.png);
  background-attachment: fixed;
  background-size:       cover;
  background-repeat:     no-repeat;
  background-position:   center bottom;
}

.home__counter__container{
  @include container;
}

.home__counter__container__content {
  @include content;
}

.home__counter__container__content__counter {
  display: none;
  text-align: center;
  @include susy-breakpoint($tablet-small) {
    @include span(7 last);
  }
}

.counter-button {
  position: relative;
  margin-top: 0px;
  width: 142px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 137, 19);
  box-shadow: -9px 5px 1px 0px rgba(0,0,0,0.2), inset 3px 5px 24px rgba(1,1,1,.11);
  color: $sti-white;

  background-image:    url(../images/act_now.svg);
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: bottom center;

  &:hover {
    color: $sti-white !important;
    box-shadow: -5px 3px 1px 0px rgba(0,0,0,0.2), inset 3px 5px 24px rgba(1,1,1,.11), inset 0 0 43px 4px rgba(251, 72, 0,.71);
    margin-top: +3px;
    margin-left: -2px;
    &:after {
      border: none;
      border-radius: 5px;
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.2);
    }
  }

  top: 1rem;
  @include susy-breakpoint($tablet-small, $desktop-large) {
    top: -2rem;
  }
}

@mixin counter-content {
  display: block;
  font-family: $montserrat;
  font-weight: 400;
  text-align: center;
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.counter-message {
  @include counter-content;
  @include setFontToBaseline(40px, 1, 1);
  top: -2rem;
  letter-spacing: 0.025rem;
  margin-top:    0px !important;
  margin-bottom: 0px !important;
  padding-top: 0rem;
  @include susy-breakpoint($tablet-small, $desktop-large) {
    padding-top: 0.8rem;
  }
}

.counter-message-description {
  @include counter-content;
  @include setFontToBaseline(16px, 0, 0);
  color: $sti-black-dark;
  margin-top: -0.4rem !important;
  margin-bottom: 0px !important;
  line-height: 1rem !important;
}

.counter-days-left {
  @extend .counter-message;

}

.counter-days-left-description {
  @extend .counter-message-description;
  padding-bottom: 130px;
  @include susy-breakpoint($tablet-small, $desktop-large) {
    padding-bottom: 142px;
  }
}
