.top-container-fixed {
  // position: fixed;
  // left:     0;
  position: relative;
  z-index:  99999999;
  // width:    100%;
}

.questions-form__header {
  @include container;
}

.questions-form__header__locality {
  @include content;
  color: $sti-white;
  text-align: center;
  padding-bottom: span(3);

  label {
    @include setFontToBaseline(20px, 1, 1);
    padding-right: span(1);
  }
}

.questions-form__header__locality__country {
  @include span(12);
}

.questions-form__header__locality__language {
  @include span(12 last);
}

.questions-form__header__navigation {
  @include content;
}

.questions-form__header__navigation__steps {
  @include span(24);
  list-style-type: none;
  margin:  0;
  padding: 0;

}

.triangle-step {
  position: absolute;
  top: 99%;
  left: span(9.5);
  width: 0; height: 0;
  border: 30px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.triangle-blue {
  border-top-color: $sti-blue-dark;
}

.triangle-black {
  border-top-color: $sti-black-dark;
}

.triangle-blue-sky {
  border-top-color: $sti-blue-sky-dark;
}

.triangle-gray {
  border-top-color: $sti-gray-dark;
}

.questions-form__header__locality__country__select {
}

.questions-form__header__navigation__step {
  position: relative;
  float: left;
  width: 25%;
  padding-bottom: 25%;
}

#questions-form__header__navigation__step-1 {
  @include sti-gradient-background($sti-blue-dark, $sti-blue-light);
}

#questions-form__header__navigation__step-2 {
  @include sti-gradient-background($sti-black-dark, $sti-black-light);
}

#questions-form__header__navigation__step-3 {
  @include sti-gradient-background($sti-blue-sky-dark, $sti-blue-sky-light);
}

#questions-form__header__navigation__step-4 {
  @include sti-gradient-background($sti-gray-dark, $sti-gray-light);
}

.questions-form__header__navigation__step__content {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: $sti-white;
  height: 100%;
  width: 100%;

  &:hover {
    color: $sti-white !important;
  }

  .step-number {

    .encircled {
      position: absolute;
      top: 0.5em;
      left: 0.5em;
      margin: 0.5em;
      display: inline-block;
      line-height: 0px;

      border-radius: 50%;
      border:        3px solid;
    }

    .number {
      display: inline-block;

      padding-top:    50%;
      padding-bottom: 50%;

      margin-left:  0.5em;
      margin-right: 0.5em;
    }
  }

  .step-label {
    // position: relative;
    // top:  40%;
    // left: 50%;
    // width: 100%;
    // transform: translate(-50%, 0%);
    // text-align: center;
    // background-color: red;


    i {
      // display:    inline-block;
      // text-align: center;
      margin-bottom: span(1);
      // background-color: $sti-white;
      // color: $sti-blue-dark;
      padding-bottom: 0px;
    }

    h3 {
      font-family: $montserrat;
      font-weight: 700;
      @include setFontToBaseline(18px, 1, 1.5);
      line-height: 1.1rem;
      // letter-spacing: 0.025;
      // line-height: 2rem;
      // padding-left: span(2) !important;
      // padding-right: span(2) !important;

      // position: relative;
      // max-width: 100%;
      // max-height: 100%;
      // text-align: center;
      // padding: 0;
      margin: 0;
    }

    p {
      font-family: $sourcesans;
      font-weight: 400;
      font-style: italic;
      @include setFontToBaseline(12px, 1, 1.5);
      line-height: 1rem;
      padding: 0;
      margin: 0;
    }
  }
}
