body {
  background-color: $sti-orange;
}

.bootstrap-select.btn-group .dropdown-menu li a {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

@mixin content {
  width: span(24 last);
  margin-left:  auto;
  margin-right: auto;
}

@import "questions_header";
@import "questions_body";
