<section class="home__aykit-produktion">
  <div class="home__aykit-produktion__container">
    <div class="home__aykit-produktion__container__content">
      <section class="home__aykit-produktion__container__content__support">
        <p>With friendly support from</p>
        <ul class="footerlogos">
          <li>
            <a href="http://produktion.io/">
              <img src="images/produktion_io.svg" alt="produktion.io"><br>
            </a>
          </li>
          <li>
            <a href="https://aykit.org">
              <img src="images/aykit.png" alt="AYKIT">
            </a>
          </li>
	  <li>
	    <a href="http://endzone.io/">
              <img src="images/Endzone_vector.svg" alt="AYKIT">
            </a>
	  </li>
	  <li>
	    <a href="http://daruma.io/">
              <img src="images/daruma_logo.png" alt="AYKIT">
            </a>
	  </li>
      </section>
    </div>
  </div>
</section>
