<section class="home__info">
  <div class="home__info__container">
    <div class="home__info__container__content">
      <header class="home__info__container__content__berec-decision-1">
        <h2>In 2015, the European Union adopted legislation on net neutrality …</h2>
        <p><a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32015R2120">The EU Regulation</a> contains good principles to ensure that you can connect to any other point on the net without discrimination. However, some parts of the regulation could be abused to undermine net neutrality. The legislators decided to leave the responsibility for claryifing the uncertainties of the text to the telecoms regulators.</p>
      </header>
      <section class="home__info__container__content__berec-decision-2">
        <h2>The Body of European Regulators of Electronic Communications (BEREC) has to prepare implementation guidelines to interpret the ambiguities of the law by the end of August 2016. These guidelines will determine whether Europe will enjoy net neutrality or not.</h2>
      </section>
      <section class="home__info__container__content__berec-decision-3">
        <p>In June 2016, BEREC plans to publish its draft guidelines and launch a public consultation. However, BEREC's procedural rules say that the public only has <strong>from June 6th to July 18th</strong> to respond and the Regulation says that BEREC needs to publish its final guidelines on 30 August 2016. That means that citizens will only have <strong>a few weeks</strong> to respond to the consultation and BEREC will only have <strong>a little bit over a month</strong> to process the (potentially thousands of) comments, draft updates to its guidelines and then go through the administrative processes to formally agree to any changes that it makes to the draft.</p>
      </section>
      <section class="home__info__container__content__net-neutrality-roadmap">
        <h2>EU Net Neutrality Roadmap</h2>
      </section>
      <section class="home__info__container__content__berec-decision-5">
        <h3>This is a crucial moment: This is the step where big successes were achieved in the United States and India. Therefore, we have to continue pushing for real net neutrality by convincing the regulators about the value of a free and open Internet.</h3>
        <p>Regulators need to equip themselves with the tools to enforce net neutrality. In Save The Internet, we think BEREC will not have enough time to process and duly take into account potentially tens of thousands of responses (the US telecoms regulator received 3.7 million responses to its consultation!). We can redress the balance by enabling everybody to properly contribute to the guidelines in a more efficient way.</p>
        <p>Recently, BEREC organised face-to-face meetings with stakeholder groups. We have translated the questions that BEREC asked stakeholders (<a href="https://edri.org/edris-first-input-on-net-neutrality-guidelines/">see here</a> and <a href="https://www.accessnow.org/rekindling-net-neutrality-our-meeting-with-eus-telecoms-regulators/">here</a>) in those meetings into plain English and added few others when we felt this was necessary.</p>
        <h2>BEREC <a href="#send-a-message">needs your input</a> before they decide on the future of net neutrality in Europe.</h2>
      </section>
    </div>
  </div>
</section>
