<section class="home__share">
	<ul class="unstyle">
		<li id="tw_count_bg">
      <a href="https://twitter.com/intent/tweet?text=Help%20save%20the%20internet.%20Tell%20your%20regulator%20to%20safeguard%20net%20neutrality.%20http%3A%2F%2Fwww.savetheinternet.eu%2F%20%23SaveTheInternet">
        <span class="smcounter" id="tw_counter"></span>
      </a>
    </li>
		<li id="fb_count_bg">
      <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Burl%5D=http://www.savetheinternet.eu/&amp;p%5Bimages%5D%5B0%5D=http://www.savetheinternet.eu/img/thumbnail.png&amp;p%5Btitle%5D=Help%20Save%20the%20Internet&amp;p%5Bsummary%5D=Your%20freedom%20online%20is%20threatened%20by%20EU%20proposals.%20The%20fight%20for%20an%20open%20Internet%20is%20happening%20right%20now%20in%20Brussels.">
        <span class="smcounter" id="fb_counter"></span>
      </a>
    </li>
		<li id="gp_count_bg">
      <a href="https://plus.google.com/share?url=http://www.savetheinternet.eu/">
        <span class="smcounter" id="gp_counter"></span>
      </a>
    </li>
	</ul>
</section>
