.top-container-fixed {
  // position: fixed;
  // left:     0;
  // position: relative;
  // z-index:  99999999;
  // width:    100%;
}

.questions-form__header {
  @include container;
}

.questions-form__header__locality {
  @include content;
  color: $sti-white;
  text-align: left;
  z-index:  2;
  @include susy-breakpoint($tablet-small, $desktop-large) {
    text-align: center;
  }

  label {
    padding-left:  span(1);
    padding-right: span(1);
    @include setFontToBaseline(15px, 1, 1);
    @include susy-breakpoint($tablet-small, $desktop-large) {
      @include setFontToBaseline(20px, 1, 1);
    }
  }
}

.questions-form__header__locality__country {
  @include span(24);
  @include susy-breakpoint($tablet-small, $desktop-large) {
    @include span(12);
  }
}

.questions-form__header__locality__language {
  @include span(24);
  @include susy-breakpoint($tablet-small, $desktop-large) {
    @include span(12 last);
  }
}

.questions-form__header__navigation {
  @include content;
  // padding-top: span(3);
}

.questions-form__header__navigation__steps {
  @include span(24);
  list-style-type: none;
  margin:  0;
  padding: 0;
}

.triangle-step {
  position: absolute;
  top: 99%;
  width: 0; height: 0;
  margin-left: auto;
  margin-right: auto;
  left: span(1 of 4) + 7;
  border: 20px solid transparent;
  @include susy-breakpoint($tablet-small, $desktop-large) {
    left: span(1 of 4) + 15;
    border: 30px solid transparent;
  }
}

.triangle-blue {
  border-top-color: $sti-blue-dark;
}

.triangle-black {
  border-top-color: $sti-black-dark;
}

.triangle-blue-sky {
  border-top-color: $sti-blue-sky-dark;
}

.triangle-gray {
  border-top-color: $sti-gray-dark;
}

.questions-form__header__navigation__step {
  position: relative;
  float: left;
  width: 25%;
  padding-bottom: 25%;
  z-index: 1;
}

#questions-form__header__navigation__step-1 {
  @include sti-gradient-background($sti-blue-dark, $sti-blue-light);
}

#questions-form__header__navigation__step-2 {
  @include sti-gradient-background($sti-black-dark, $sti-black-light);
}

#questions-form__header__navigation__step-3 {
  @include sti-gradient-background($sti-blue-sky-dark, $sti-blue-sky-light);
}

#questions-form__header__navigation__step-4 {
  @include sti-gradient-background($sti-gray-dark, $sti-gray-light);
}

.questions-form__header__navigation__step__content {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: $sti-white;
  height: 100%;
  width: 100%;

  &:hover {
    color: $sti-white !important;
  }

  .step-number {

    .encircled {
      position: absolute;
      top: 0.5em;
      left: 0.5em;
      margin: 0.5em;
      display: inline-block;
      border-radius: 50%;
      line-height: 0px;
      font-size: 5px;
      border:    2px solid;
      @include susy-breakpoint($tablet-small, $desktop-large) {
        font-size: 14px;
        border:    3px solid;
      }
    }

    .number {
      display: inline-block;

      padding-top:    50%;
      padding-bottom: 55%;

      margin-left:  0.5em;
      margin-right: 0.5em;
      font-size: 10px;
      @include susy-breakpoint($tablet-small, $desktop-large) {
      padding-bottom: 50%;
        font-size: 14px;
      }
    }
  }

  .step-label {
    i {
      font-size: 1rem;
      // margin-bottom: span(1);
      padding-bottom: 0px;
      margin-bottom: 0px;
      @include susy-breakpoint($tablet-small, $desktop-large) {
        font-size: 3rem;
      }
    }

    h3 {
      font-family: $montserrat;
      font-weight: 700;
      margin: 0;
      font-size: 0.45rem;
      line-height: 0.7rem;
      @include susy-breakpoint($tablet-small, $desktop-large) {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}

// .active {
//   .triangle
//   z-index: 999999999999999;
// }

// .active {
  // left: -200%;
  // height: 150% !important;
  // width: 400% !important;
  // z-index: 9999;
  //
  // .step-number {
  //   .encircled {
  //     left: 50% !important;
  //   }
  //   .number {
  //     left: 50% !important;
  //   }
  // }
  //
  // .step-label {
  //   left: 50% !important;
  //
  // }
// }
