{{ partial "site-header.html" . }}
{{ partial "site-nav-bar.html" . }}

{{ partial "home-intro.html" . }}
{{ partial "home-tagline.html" . }}
{{ partial "home-counter.html" . }}
{{ partial "home-fix-net-neutrality.html" . }}
<a name="send-a-message"></a>
{{ partial "home-questions.html" . }}
{{ partial "home-spread-the-word.html" . }}
{{ partial "home-stay-informed" . }}
{{ partial "home-videos.html" . }}
<a name="info"></a>
{{ partial "home-info.html" . }}
{{ partial "home-sponsors" . }}
{{ partial "home-support" . }}

{{ partial "site-footer.html" . }}
