// info

.info {
  background-color: $sti-blue-sky-light;
}

.info-container {
  @include container;
  background-color: $sti-blue-sky-light;
}

.home__info {
  @include content;
}

.home__info__call {
  @include span(24);
  background-color: $sti-white;
  padding: 1.5em;
}

// questions

.questions {
  background-color: $sti-orange;
}

.questions-container {
  @include container;
  background-color: $sti-orange;
}

.home__questions {
  @include content;
  background-color: $sti-orange;
  color: $sti-white;
}

.home__questions__header {
  @include span(24);
  padding: 1.5em;
}

.home__questions__form {
  @include span(24);
  // overflow: hidden;
  // width: 100%;
  // height: 100%;
  // border: none;
}

.home__questions__form__iframe {
  // overflow: scroll !important;
  width: 800px;
  height: 800px;
  // border: none;
}
