@mixin form-content {
  box-sizing:   border-box;
  border-left:  solid $sti-orange 10px;
  border-right: solid $sti-orange 10px;
  background-color: $sti-white;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.bottom-container {
  position: relative;
}

.questions-form__body {
  @include container;
}

.questions-form__body__content {
  @include content;
}

.questions-form__body__content__header {
  @include span(24);
  @include form-content;
  padding-top: 239px;
}

.questions-form__body__content__section {
  @include span(24);
  @include form-content;

  // input[type=checkbox] { display:none; } /* to hide the checkbox itself */
  // input[type=checkbox] + label:before {
  //   font-family: FontAwesome;
  //   display: inline-block;
  // }
  //
  // input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
  // input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
  //
  // input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
  // input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
  //
  // button {
  //
  // }
}
