.top-container-fixed {
  position: fixed;
  top:      0;
  left:     0;
  z-index:  9999;
  width:    100%;
}

.bottom-container {
  position:     relative;
  top: 400px;
  box-sizing:   border-box;
  border-left:  solid $sti-orange 10px;
  border-right: solid $sti-orange 10px;
}

.questions-form {

}

.questions-form__header {
  @include container;
}

.questions-form__header__locality {
  @include content;
  color: $sti-white;
  background-color: $sti-orange;
  text-align: center;
  padding-bottom: 3em;
}

.questions-form__header__locality__country {
  @include span(12);
}

.questions-form__header__locality__language {
  @include span(12 last);
}

.questions-form__header__navigation {
  @include content;
}

.questions-form__header__navigation__steps {
  @include span(24);
  list-style-type: none;
  margin:  0;
  padding: 0;
}

.questions-form__header__navigation__step {
  position: relative;
  float: left;
  width: 25%;
  padding-bottom: 25%;
  background-color: #084176;
  display: table;

    border-radius: 5px;
    border: 2px $sti-orange;

  &:nth-child(1) {
    @include sti-gradient-background($sti-blue-dark, $sti-blue-light);
  }

  &:nth-child(2) {
    @include sti-gradient-background($sti-black-dark, $sti-black-light);
  }

  &:nth-child(3) {
    @include sti-gradient-background($sti-blue-sky-dark, $sti-blue-sky-light);
  }

  &:nth-child(4) {
    @include sti-gradient-background($sti-gray-dark, $sti-gray-light);
  }
}

.questions-form__header__navigation__step__content {
  text-decoration: none;
  color: $sti-white;

  .step-number {
    font-size: 1.5rem;

    .encircled {
      position: absolute;
      margin: 0.5em;
      display: inline-block;
      line-height: 0px;

      border-radius: 50%;
      border:        3px solid;
    }

    .number {
      display: inline-block;

      padding-top:    50%;
      padding-bottom: 50%;

      margin-left:  0.5em;
      margin-right: 0.5em;
    }

  }

  .step-label {
    position: absolute;
    top:  25%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;

    i {
      display: inline-block;
      text-align: center;
      font-size: 5em;
    }

    h3 {
      position: relative;
      font-size: 1.5rem;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

}

.questions-form__bottom-container__body {
  @include container;
}

.questions-form__body__content {
  @include content;
}

.questions-form__body__content__header {
  @include span(24);
  background-color: $sti-white;
  padding: 1.5em;
}

.questions-form__body__content__section {
  @include span(24);
  padding: 1.5em;
  background-color: $sti-white;

  // input[type=checkbox] { display:none; } /* to hide the checkbox itself */
  // input[type=checkbox] + label:before {
  //   font-family: FontAwesome;
  //   display: inline-block;
  // }
  //
  // input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
  // input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
  //
  // input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
  // input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
  //
  // button {
  //
  // }
}
